@charset 'UTF-8';
@font-face{font-family:'FontAwesome';src:url('font/fontawesome-webfont.eot?v=4.0.1');src:url('font/fontawesome-webfont.eot?#iefix&v=4.0.1') format('embedded-opentype'),url('font/fontawesome-webfont.woff?v=4.0.1') format('woff'),url('font/fontawesome-webfont.ttf?v=4.0.1') format('truetype'),url('font/fontawesome-webfont.svg?v=4.0.1#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}

/*
	MegaCorp by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

body
{
	margin: 0;
	padding: 0em;
	line-height: 2em;
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	color: #686868;
}

body, #skel-panels-pageWrapper
{
	background: #101214 url(images/main-bg.png) repeat;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: 300;
	color: #CFCFCF;
}

h2
{
	letter-spacing: -1px;
	font-size: 2.00em;
}

p, ol, ul
{
	margin-top: 1em;
}

p
{
}

a
{
	text-decoration: underline;
	color: #909090;
}

a:hover
{
	text-decoration: none;
}

/* Image Style 1 */

	.image-style1
	{
		display: block;
		width: 100%;
	}

	
/* Buttons Style 1 */


	.button
	{
		position: relative;
		display: inline-block;
		background: #2B8FC4;
		padding: 0.8em 2em;
		border-radius: 4px;
		text-decoration: none;
		font-size: 1.2em;
		font-weight: 300;
		color: #FFF !important;
		-moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		text-align: center;
	}
	.nav-link{
		position: relative;
		display: inline-block;
		background: #2B8FC4;
		padding: 0.8em 2em;
		margin-top: 1em;
		border-radius: 4px;
		text-decoration: none;
		font-size: 1.2em;
		font-weight: 300;
		color: #FFF !important;
		-moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		text-align: center;
	}

	.button:hover
	{
		background: #167cb2;
		color: #FFF !important;
	}

	.button-alt
	{
		padding: 0.9em 2em;
		font-size: 1.5em;
	}



/* List Style 1 */

	ul.style1
	{
	}
	
	ul.style1 li
	{
		padding: 0.75em 0 0.75em 0em;
		background: url(images/bullet-icon.png) no-repeat left 50%;
	}
	
	ul.style1 a
	{
		display: block;
		padding-left: 1.50em;
		text-decoration: none;
		color: #909090;
	}
	
	ul.style1 a:hover
	{
		text-decoration: underline;
	}

/* List Style 2 */

	ul.style2 {
		overflow: hidden;
		margin: 0em;
		padding: 0em;
		list-style: none;
	}
	
	ul.style2 li {
		clear: both;
		padding: 1em 0em 2em 0em;
		border-top: 1px solid #212124;
	}
	
	ul.style2 p
	{
		line-height: 2.20em;
	}
	
	ul.style2 a {
		text-decoration: none;
		color: #909090;
	}
	
	ul.style2 a:hover {
		text-decoration: underline;
	}
	
	
	ul.style2 img {
		float: left;
		margin-right: 1.5em;
		border-radius: 5px;
        object-fit: contain;
	}
	
	ul.style2 .first {
		padding-top: 0;
		border-top: none;
	}
	
/* List style 3 */

	ul.style3 {
		margin: 0em;
		padding: 0em 0em 0em 0em;
		list-style: none;
	}
	
	
	ul.style3 li {
		padding: 1.75em 0em 1.50em 0em;
		border-top: 1px solid #212124;
	}
	
	ul.style3 .heading-title {
		font-size: 1.10em;
		font-weight: bold;
		color: #B8B8B8;
	}
	
	ul.style3 .date {
		display: inline-block;
		margin: 0em 1em 1em 0em;
		text-transform: uppercase;
		font-size: .80em;
		background: #2B8FC4;
		border-radius: 5px;
		border: 1px solid #165272;
		box-shadow: 0px 1px 5px rgba(0,0,0,.4);
		color: #FFFFFF;
	}
	
	ul.style3 .date a
	{
		display: inline-block;
		padding: .5em 1em;
		letter-spacing: 1px;
		border-radius: 5px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1.10em;
		font-weight: 400;
		color: #FFFFFF;
	}

	ul.style3 a 
	{
		text-decoration: none;
		color: #909090;
	}
	
	ul.style3 a:hover 
	{
		text-decoration: underline;
	}
	
	ul.style3 .first {
		border-top: none;
	}

/* List style 4 */

	ul.style4 {
		overflow: hidden;
		margin: 0em;
		padding: 0em;
		list-style: none;
	}
	
	ul.style4 li {
		padding: 0.50em 0em;
		border-top: 1px solid #212124;
	}
	
	ul.style4 a {
		padding-left: 1em;
		background: url(images/list-bullet.png) no-repeat left 50%;
		text-decoration: none;
		color: #909090;
	}
	
	ul.style4 a:hover {
		text-decoration: underline;
		color: #868686;
	}
	
	ul.style4 h3
	{
		padding: 0 0 0.75em 0;
		font-size: 1.10em;
		font-weight: 700;
		color: #B8B8B8;
	}
	
	
	ul.style4 .first {
		padding-top: 0;
		border-top: none;
	}

/* List style 5 */

	ul.style5 
	{
		margin-left: 4em;
	}
	
	ul.style5 li
	{
		line-height: 1.75em;
		list-style: decimal;
	}

/*********************************************************************************/
/* Icons                                                                         */
/* Powered by Font Awesome by Dave Gandy | http://fontawesome.io                 */
/* Licensed under the SIL OFL 1.1 (font), MIT (CSS)                              */
/*********************************************************************************/

	.fa
	{
		text-decoration: none;
	}

		.fa.solo
		{
		}
		
			.fa.solo span
			{
				display: none;
			}

		.fa:before
		{
			display:inline-block;
			font-family: FontAwesome;
			font-size: 1.25em;
			text-decoration: none;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing:antialiased;
			-moz-osx-font-smoothing:grayscale;
		}

		.fa-lg{font-size:1.3333333333333333em;line-height:.75em;vertical-align:-15%}
		.fa-2x{font-size:2em}
		.fa-3x{font-size:3em}
		.fa-4x{font-size:4em}
		.fa-5x{font-size:5em}
		.fa-fw{width:1.2857142857142858em;text-align:center}
		.fa-ul{padding-left:0;margin-left:2.142857142857143em;list-style-type:none}.fa-ul>li{position:relative}
		.fa-li{position:absolute;left:-2.142857142857143em;width:2.142857142857143em;top:.14285714285714285em;text-align:center}.fa-li.fa-lg{left:-1.8571428571428572em}
		.fa-border{padding:.2em .25em .15em;border:solid .08em #eee;border-radius:.1em}
		.pull-right{float:right}
		.pull-left{float:left}
		.fa.pull-left{margin-right:.3em}
		.fa.pull-right{margin-left:.3em}
		.fa-spin{-webkit-animation:spin 2s infinite linear;-moz-animation:spin 2s infinite linear;-o-animation:spin 2s infinite linear;animation:spin 2s infinite linear}
		@-moz-keyframes spin{0%{-moz-transform:rotate(0deg)} 100%{-moz-transform:rotate(359deg)}}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg)} 100%{-webkit-transform:rotate(359deg)}}@-o-keyframes spin{0%{-o-transform:rotate(0deg)} 100%{-o-transform:rotate(359deg)}}@-ms-keyframes spin{0%{-ms-transform:rotate(0deg)} 100%{-ms-transform:rotate(359deg)}}@keyframes spin{0%{transform:rotate(0deg)} 100%{transform:rotate(359deg)}}.fa-rotate-90{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg)}
		.fa-rotate-180{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}
		.fa-rotate-270{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);-webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);-ms-transform:rotate(270deg);-o-transform:rotate(270deg);transform:rotate(270deg)}
		.fa-flip-horizontal{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);-webkit-transform:scale(-1, 1);-moz-transform:scale(-1, 1);-ms-transform:scale(-1, 1);-o-transform:scale(-1, 1);transform:scale(-1, 1)}
		.fa-flip-vertical{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);-webkit-transform:scale(1, -1);-moz-transform:scale(1, -1);-ms-transform:scale(1, -1);-o-transform:scale(1, -1);transform:scale(1, -1)}
		.fa-stack{position:relative;display:inline-block;width:2em;height:2em;line-height:2em;vertical-align:middle}
		.fa-stack-1x,.fa-stack-2x{position:absolute;left:0;width:100%;text-align:center}
		.fa-stack-1x{line-height:inherit}
		.fa-stack-2x{font-size:2em}
		.fa-inverse{color:#fff}
		.fa-glass:before{content:"\f000"}
		.fa-music:before{content:"\f001"}
		.fa-search:before{content:"\f002"}
		.fa-envelope-o:before{content:"\f003"}
		.fa-heart:before{content:"\f004"}
		.fa-star:before{content:"\f005"}
		.fa-star-o:before{content:"\f006"}
		.fa-user:before{content:"\f007"}
		.fa-film:before{content:"\f008"}
		.fa-th-large:before{content:"\f009"}
		.fa-th:before{content:"\f00a"}
		.fa-th-list:before{content:"\f00b"}
		.fa-check:before{content:"\f00c"}
		.fa-times:before{content:"\f00d"}
		.fa-search-plus:before{content:"\f00e"}
		.fa-search-minus:before{content:"\f010"}
		.fa-power-off:before{content:"\f011"}
		.fa-signal:before{content:"\f012"}
		.fa-gear:before,.fa-cog:before{content:"\f013"}
		.fa-trash-o:before{content:"\f014"}
		.fa-home:before{content:"\f015"}
		.fa-file-o:before{content:"\f016"}
		.fa-clock-o:before{content:"\f017"}
		.fa-road:before{content:"\f018"}
		.fa-download:before{content:"\f019"}
		.fa-arrow-circle-o-down:before{content:"\f01a"}
		.fa-arrow-circle-o-up:before{content:"\f01b"}
		.fa-inbox:before{content:"\f01c"}
		.fa-play-circle-o:before{content:"\f01d"}
		.fa-rotate-right:before,.fa-repeat:before{content:"\f01e"}
		.fa-refresh:before{content:"\f021"}
		.fa-list-alt:before{content:"\f022"}
		.fa-lock:before{content:"\f023"}
		.fa-flag:before{content:"\f024"}
		.fa-headphones:before{content:"\f025"}
		.fa-volume-off:before{content:"\f026"}
		.fa-volume-down:before{content:"\f027"}
		.fa-volume-up:before{content:"\f028"}
		.fa-qrcode:before{content:"\f029"}
		.fa-barcode:before{content:"\f02a"}
		.fa-tag:before{content:"\f02b"}
		.fa-tags:before{content:"\f02c"}
		.fa-book:before{content:"\f02d"}
		.fa-bookmark:before{content:"\f02e"}
		.fa-print:before{content:"\f02f"}
		.fa-camera:before{content:"\f030"}
		.fa-font:before{content:"\f031"}
		.fa-bold:before{content:"\f032"}
		.fa-italic:before{content:"\f033"}
		.fa-text-height:before{content:"\f034"}
		.fa-text-width:before{content:"\f035"}
		.fa-align-left:before{content:"\f036"}
		.fa-align-center:before{content:"\f037"}
		.fa-align-right:before{content:"\f038"}
		.fa-align-justify:before{content:"\f039"}
		.fa-list:before{content:"\f03a"}
		.fa-dedent:before,.fa-outdent:before{content:"\f03b"}
		.fa-indent:before{content:"\f03c"}
		.fa-video-camera:before{content:"\f03d"}
		.fa-picture-o:before{content:"\f03e"}
		.fa-pencil:before{content:"\f040"}
		.fa-map-marker:before{content:"\f041"}
		.fa-adjust:before{content:"\f042"}
		.fa-tint:before{content:"\f043"}
		.fa-edit:before,.fa-pencil-square-o:before{content:"\f044"}
		.fa-share-square-o:before{content:"\f045"}
		.fa-check-square-o:before{content:"\f046"}
		.fa-move:before{content:"\f047"}
		.fa-step-backward:before{content:"\f048"}
		.fa-fast-backward:before{content:"\f049"}
		.fa-backward:before{content:"\f04a"}
		.fa-play:before{content:"\f04b"}
		.fa-pause:before{content:"\f04c"}
		.fa-stop:before{content:"\f04d"}
		.fa-forward:before{content:"\f04e"}
		.fa-fast-forward:before{content:"\f050"}
		.fa-step-forward:before{content:"\f051"}
		.fa-eject:before{content:"\f052"}
		.fa-chevron-left:before{content:"\f053"}
		.fa-chevron-right:before{content:"\f054"}
		.fa-plus-circle:before{content:"\f055"}
		.fa-minus-circle:before{content:"\f056"}
		.fa-times-circle:before{content:"\f057"}
		.fa-check-circle:before{content:"\f058"}
		.fa-question-circle:before{content:"\f059"}
		.fa-info-circle:before{content:"\f05a"}
		.fa-crosshairs:before{content:"\f05b"}
		.fa-times-circle-o:before{content:"\f05c"}
		.fa-check-circle-o:before{content:"\f05d"}
		.fa-ban:before{content:"\f05e"}
		.fa-arrow-left:before{content:"\f060"}
		.fa-arrow-right:before{content:"\f061"}
		.fa-arrow-up:before{content:"\f062"}
		.fa-arrow-down:before{content:"\f063"}
		.fa-mail-forward:before,.fa-share:before{content:"\f064"}
		.fa-resize-full:before{content:"\f065"}
		.fa-resize-small:before{content:"\f066"}
		.fa-plus:before{content:"\f067"}
		.fa-minus:before{content:"\f068"}
		.fa-asterisk:before{content:"\f069"}
		.fa-exclamation-circle:before{content:"\f06a"}
		.fa-gift:before{content:"\f06b"}
		.fa-leaf:before{content:"\f06c"}
		.fa-fire:before{content:"\f06d"}
		.fa-eye:before{content:"\f06e"}
		.fa-eye-slash:before{content:"\f070"}
		.fa-warning:before,.fa-exclamation-triangle:before{content:"\f071"}
		.fa-plane:before{content:"\f072"}
		.fa-calendar:before{content:"\f073"}
		.fa-random:before{content:"\f074"}
		.fa-comment:before{content:"\f075"}
		.fa-magnet:before{content:"\f076"}
		.fa-chevron-up:before{content:"\f077"}
		.fa-chevron-down:before{content:"\f078"}
		.fa-retweet:before{content:"\f079"}
		.fa-shopping-cart:before{content:"\f07a"}
		.fa-folder:before{content:"\f07b"}
		.fa-folder-open:before{content:"\f07c"}
		.fa-resize-vertical:before{content:"\f07d"}
		.fa-resize-horizontal:before{content:"\f07e"}
		.fa-bar-chart-o:before{content:"\f080"}
		.fa-twitter-square:before{content:"\f081"}
		.fa-facebook-square:before{content:"\f082"}
		.fa-camera-retro:before{content:"\f083"}
		.fa-key:before{content:"\f084"}
		.fa-gears:before,.fa-cogs:before{content:"\f085"}
		.fa-comments:before{content:"\f086"}
		.fa-thumbs-o-up:before{content:"\f087"}
		.fa-thumbs-o-down:before{content:"\f088"}
		.fa-star-half:before{content:"\f089"}
		.fa-heart-o:before{content:"\f08a"}
		.fa-sign-out:before{content:"\f08b"}
		.fa-linkedin-square:before{content:"\f08c"}
		.fa-thumb-tack:before{content:"\f08d"}
		.fa-external-link:before{content:"\f08e"}
		.fa-sign-in:before{content:"\f090"}
		.fa-trophy:before{content:"\f091"}
		.fa-github-square:before{content:"\f092"}
		.fa-upload:before{content:"\f093"}
		.fa-lemon-o:before{content:"\f094"}
		.fa-phone:before{content:"\f095"}
		.fa-square-o:before{content:"\f096"}
		.fa-bookmark-o:before{content:"\f097"}
		.fa-phone-square:before{content:"\f098"}
		.fa-twitter:before{content:"\f099"}
		.fa-facebook:before{content:"\f09a"}
		.fa-github:before{content:"\f09b"}
		.fa-unlock:before{content:"\f09c"}
		.fa-credit-card:before{content:"\f09d"}
		.fa-rss:before{content:"\f09e"}
		.fa-hdd-o:before{content:"\f0a0"}
		.fa-bullhorn:before{content:"\f0a1"}
		.fa-bell:before{content:"\f0f3"}
		.fa-certificate:before{content:"\f0a3"}
		.fa-hand-o-right:before{content:"\f0a4"}
		.fa-hand-o-left:before{content:"\f0a5"}
		.fa-hand-o-up:before{content:"\f0a6"}
		.fa-hand-o-down:before{content:"\f0a7"}
		.fa-arrow-circle-left:before{content:"\f0a8"}
		.fa-arrow-circle-right:before{content:"\f0a9"}
		.fa-arrow-circle-up:before{content:"\f0aa"}
		.fa-arrow-circle-down:before{content:"\f0ab"}
		.fa-globe:before{content:"\f0ac"}
		.fa-wrench:before{content:"\f0ad"}
		.fa-tasks:before{content:"\f0ae"}
		.fa-filter:before{content:"\f0b0"}
		.fa-briefcase:before{content:"\f0b1"}
		.fa-fullscreen:before{content:"\f0b2"}
		.fa-group:before{content:"\f0c0"}
		.fa-chain:before,.fa-link:before{content:"\f0c1"}
		.fa-cloud:before{content:"\f0c2"}
		.fa-flask:before{content:"\f0c3"}
		.fa-cut:before,.fa-scissors:before{content:"\f0c4"}
		.fa-copy:before,.fa-files-o:before{content:"\f0c5"}
		.fa-paperclip:before{content:"\f0c6"}
		.fa-save:before,.fa-floppy-o:before{content:"\f0c7"}
		.fa-square:before{content:"\f0c8"}
		.fa-reorder:before{content:"\f0c9"}
		.fa-list-ul:before{content:"\f0ca"}
		.fa-list-ol:before{content:"\f0cb"}
		.fa-strikethrough:before{content:"\f0cc"}
		.fa-underline:before{content:"\f0cd"}
		.fa-table:before{content:"\f0ce"}
		.fa-magic:before{content:"\f0d0"}
		.fa-truck:before{content:"\f0d1"}
		.fa-pinterest:before{content:"\f0d2"}
		.fa-pinterest-square:before{content:"\f0d3"}
		.fa-google-plus-square:before{content:"\f0d4"}
		.fa-google-plus:before{content:"\f0d5"}
		.fa-money:before{content:"\f0d6"}
		.fa-caret-down:before{content:"\f0d7"}
		.fa-caret-up:before{content:"\f0d8"}
		.fa-caret-left:before{content:"\f0d9"}
		.fa-caret-right:before{content:"\f0da"}
		.fa-columns:before{content:"\f0db"}
		.fa-unsorted:before,.fa-sort:before{content:"\f0dc"}
		.fa-sort-down:before,.fa-sort-asc:before{content:"\f0dd"}
		.fa-sort-up:before,.fa-sort-desc:before{content:"\f0de"}
		.fa-envelope:before{content:"\f0e0"}
		.fa-linkedin:before{content:"\f0e1"}
		.fa-rotate-left:before,.fa-undo:before{content:"\f0e2"}
		.fa-legal:before,.fa-gavel:before{content:"\f0e3"}
		.fa-dashboard:before,.fa-tachometer:before{content:"\f0e4"}
		.fa-comment-o:before{content:"\f0e5"}
		.fa-comments-o:before{content:"\f0e6"}
		.fa-flash:before,.fa-bolt:before{content:"\f0e7"}
		.fa-sitemap:before{content:"\f0e8"}
		.fa-umbrella:before{content:"\f0e9"}
		.fa-paste:before,.fa-clipboard:before{content:"\f0ea"}
		.fa-lightbulb-o:before{content:"\f0eb"}
		.fa-exchange:before{content:"\f0ec"}
		.fa-cloud-download:before{content:"\f0ed"}
		.fa-cloud-upload:before{content:"\f0ee"}
		.fa-user-md:before{content:"\f0f0"}
		.fa-stethoscope:before{content:"\f0f1"}
		.fa-suitcase:before{content:"\f0f2"}
		.fa-bell-o:before{content:"\f0a2"}
		.fa-coffee:before{content:"\f0f4"}
		.fa-cutlery:before{content:"\f0f5"}
		.fa-file-text-o:before{content:"\f0f6"}
		.fa-building:before{content:"\f0f7"}
		.fa-hospital:before{content:"\f0f8"}
		.fa-ambulance:before{content:"\f0f9"}
		.fa-medkit:before{content:"\f0fa"}
		.fa-fighter-jet:before{content:"\f0fb"}
		.fa-beer:before{content:"\f0fc"}
		.fa-h-square:before{content:"\f0fd"}
		.fa-plus-square:before{content:"\f0fe"}
		.fa-angle-double-left:before{content:"\f100"}
		.fa-angle-double-right:before{content:"\f101"}
		.fa-angle-double-up:before{content:"\f102"}
		.fa-angle-double-down:before{content:"\f103"}
		.fa-angle-left:before{content:"\f104"}
		.fa-angle-right:before{content:"\f105"}
		.fa-angle-up:before{content:"\f106"}
		.fa-angle-down:before{content:"\f107"}
		.fa-desktop:before{content:"\f108"}
		.fa-laptop:before{content:"\f109"}
		.fa-tablet:before{content:"\f10a"}
		.fa-mobile-phone:before,.fa-mobile:before{content:"\f10b"}
		.fa-circle-o:before{content:"\f10c"}
		.fa-quote-left:before{content:"\f10d"}
		.fa-quote-right:before{content:"\f10e"}
		.fa-spinner:before{content:"\f110"}
		.fa-circle:before{content:"\f111"}
		.fa-mail-reply:before,.fa-reply:before{content:"\f112"}
		.fa-github-alt:before{content:"\f113"}
		.fa-folder-o:before{content:"\f114"}
		.fa-folder-open-o:before{content:"\f115"}
		.fa-expand-o:before{content:"\f116"}
		.fa-collapse-o:before{content:"\f117"}
		.fa-smile-o:before{content:"\f118"}
		.fa-frown-o:before{content:"\f119"}
		.fa-meh-o:before{content:"\f11a"}
		.fa-gamepad:before{content:"\f11b"}
		.fa-keyboard-o:before{content:"\f11c"}
		.fa-flag-o:before{content:"\f11d"}
		.fa-flag-checkered:before{content:"\f11e"}
		.fa-terminal:before{content:"\f120"}
		.fa-code:before{content:"\f121"}
		.fa-reply-all:before{content:"\f122"}
		.fa-mail-reply-all:before{content:"\f122"}
		.fa-star-half-empty:before,.fa-star-half-full:before,.fa-star-half-o:before{content:"\f123"}
		.fa-location-arrow:before{content:"\f124"}
		.fa-crop:before{content:"\f125"}
		.fa-code-fork:before{content:"\f126"}
		.fa-unlink:before,.fa-chain-broken:before{content:"\f127"}
		.fa-question:before{content:"\f128"}
		.fa-info:before{content:"\f129"}
		.fa-exclamation:before{content:"\f12a"}
		.fa-superscript:before{content:"\f12b"}
		.fa-subscript:before{content:"\f12c"}
		.fa-eraser:before{content:"\f12d"}
		.fa-puzzle-piece:before{content:"\f12e"}
		.fa-microphone:before{content:"\f130"}
		.fa-microphone-slash:before{content:"\f131"}
		.fa-shield:before{content:"\f132"}
		.fa-calendar-o:before{content:"\f133"}
		.fa-fire-extinguisher:before{content:"\f134"}
		.fa-rocket:before{content:"\f135"}
		.fa-maxcdn:before{content:"\f136"}
		.fa-chevron-circle-left:before{content:"\f137"}
		.fa-chevron-circle-right:before{content:"\f138"}
		.fa-chevron-circle-up:before{content:"\f139"}
		.fa-chevron-circle-down:before{content:"\f13a"}
		.fa-html5:before{content:"\f13b"}
		.fa-css3:before{content:"\f13c"}
		.fa-anchor:before{content:"\f13d"}
		.fa-unlock-o:before{content:"\f13e"}
		.fa-bullseye:before{content:"\f140"}
		.fa-ellipsis-horizontal:before{content:"\f141"}
		.fa-ellipsis-vertical:before{content:"\f142"}
		.fa-rss-square:before{content:"\f143"}
		.fa-play-circle:before{content:"\f144"}
		.fa-ticket:before{content:"\f145"}
		.fa-minus-square:before{content:"\f146"}
		.fa-minus-square-o:before{content:"\f147"}
		.fa-level-up:before{content:"\f148"}
		.fa-level-down:before{content:"\f149"}
		.fa-check-square:before{content:"\f14a"}
		.fa-pencil-square:before{content:"\f14b"}
		.fa-external-link-square:before{content:"\f14c"}
		.fa-share-square:before{content:"\f14d"}
		.fa-compass:before{content:"\f14e"}
		.fa-toggle-down:before,.fa-caret-square-o-down:before{content:"\f150"}
		.fa-toggle-up:before,.fa-caret-square-o-up:before{content:"\f151"}
		.fa-toggle-right:before,.fa-caret-square-o-right:before{content:"\f152"}
		.fa-euro:before,.fa-eur:before{content:"\f153"}
		.fa-gbp:before{content:"\f154"}
		.fa-dollar:before,.fa-usd:before{content:"\f155"}
		.fa-rupee:before,.fa-inr:before{content:"\f156"}
		.fa-cny:before,.fa-rmb:before,.fa-yen:before,.fa-jpy:before{content:"\f157"}
		.fa-ruble:before,.fa-rouble:before,.fa-rub:before{content:"\f158"}
		.fa-won:before,.fa-krw:before{content:"\f159"}
		.fa-bitcoin:before,.fa-btc:before{content:"\f15a"}
		.fa-file:before{content:"\f15b"}
		.fa-file-text:before{content:"\f15c"}
		.fa-sort-alpha-asc:before{content:"\f15d"}
		.fa-sort-alpha-desc:before{content:"\f15e"}
		.fa-sort-amount-asc:before{content:"\f160"}
		.fa-sort-amount-desc:before{content:"\f161"}
		.fa-sort-numeric-asc:before{content:"\f162"}
		.fa-sort-numeric-desc:before{content:"\f163"}
		.fa-thumbs-up:before{content:"\f164"}
		.fa-thumbs-down:before{content:"\f165"}
		.fa-youtube-square:before{content:"\f166"}
		.fa-youtube:before{content:"\f167"}
		.fa-xing:before{content:"\f168"}
		.fa-xing-square:before{content:"\f169"}
		.fa-youtube-play:before{content:"\f16a"}
		.fa-dropbox:before{content:"\f16b"}
		.fa-stack-overflow:before{content:"\f16c"}
		.fa-instagram:before{content:"\f16d"}
		.fa-flickr:before{content:"\f16e"}
		.fa-adn:before{content:"\f170"}
		.fa-bitbucket:before{content:"\f171"}
		.fa-bitbucket-square:before{content:"\f172"}
		.fa-tumblr:before{content:"\f173"}
		.fa-tumblr-square:before{content:"\f174"}
		.fa-long-arrow-down:before{content:"\f175"}
		.fa-long-arrow-up:before{content:"\f176"}
		.fa-long-arrow-left:before{content:"\f177"}
		.fa-long-arrow-right:before{content:"\f178"}
		.fa-apple:before{content:"\f179"}
		.fa-windows:before{content:"\f17a"}
		.fa-android:before{content:"\f17b"}
		.fa-linux:before{content:"\f17c"}
		.fa-dribbble:before{content:"\f17d"}
		.fa-skype:before{content:"\f17e"}
		.fa-foursquare:before{content:"\f180"}
		.fa-trello:before{content:"\f181"}
		.fa-female:before{content:"\f182"}
		.fa-male:before{content:"\f183"}
		.fa-gittip:before{content:"\f184"}
		.fa-sun-o:before{content:"\f185"}
		.fa-moon-o:before{content:"\f186"}
		.fa-archive:before{content:"\f187"}
		.fa-bug:before{content:"\f188"}
		.fa-vk:before{content:"\f189"}
		.fa-weibo:before{content:"\f18a"}
		.fa-renren:before{content:"\f18b"}
		.fa-pagelines:before{content:"\f18c"}
		.fa-stack-exchange:before{content:"\f18d"}
		.fa-arrow-circle-o-right:before{content:"\f18e"}
		.fa-arrow-circle-o-left:before{content:"\f190"}
		.fa-toggle-left:before,.fa-caret-square-o-left:before{content:"\f191"}
		.fa-dot-circle-o:before{content:"\f192"}
		.fa-wheelchair:before{content:"\f193"}
		.fa-vimeo-square:before{content:"\f194"}
		.fa-turkish-lira:before,.fa-try:before{content:"\f195"}


	/* FA Icons */
		
		.pennant
		{
			display: inline-block;
			margin-bottom: 0.50em;
			font-size: 3em;
			color: #FFF;			
		}

/* Header */

	#header-wrapper
	{
		background: url(../images/banner.jpg) no-repeat center top;
		background-size: cover;
		position: relative;
	}
	
	#header-wrapper:before
	{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(60,50,70,0.5);
	}
	
	#header {
		position: relative;
	}
	
	header
	{
		margin-bottom: 3em;
		position: relative;
	}

	header h2
	{
		display: block;
		margin: 0;
		padding: 0;
	}

	header .byline
	{
		display: block;
		margin: 1.50em 0em;
		line-height: 2em;
		font-weight: 200;
		color: rgba(255,255,255,.8);
	}


/* Banner */

	#banner
	{
		overflow: hidden;
		padding: 10em 0em;
		text-align: center;
		z-index: 1;
		position: relative;
	}

	#banner header h2
	{
		text-transform: uppercase;
		font-size: 3em;
		color: #FFF;
	}

	#banner header .byline
	{
		padding: 0em 5em;
		font-size: 1.50em;
	}
	
	#banner .button
	{
		margin-top: 1em;
	}

/* Wrapper */

	#wrapper
	{
		padding: 5em 0em 3em 0em;
	}

	#page
	{	
		padding: 5em 0em 3em 0em;
	}

/* Content */

	#content
	{
	}

	#content a img
	{
        float: left;
        display: inline;
		height: 100%;
        width: 300px;
		margin-bottom: 1.50em;
		border-radius: 5px;
        padding-right: 5em;
	}

	#content .main-title
	{
		font-size: 3.00em;
	}
	
	#content .button
	{
		margin-top: 2em;
	}

.row{
	float:center;
}

#creator, #login_form{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

/* Sidebar */


	
	#sidebar h2
	{
		margin-bottom: 1em;
	}

	#sidebar #box1
	{
		margin-bottom: 3em;
	}
	
	#sidebar #box2 .button
	{
		margin-top: 0;
	}
	
/* Two Column Area */

	#two-column
	{
		overflow: hidden;
		margin-top: 4em;
		padding: 4em 0em 0em 0em;
		border-top: 1px solid #212124;
	}

/* Featured Area */

	#featured-wrapper
	{
		position: relative;
		padding: 6em 0em;
		background: #0c0e0f;
		text-align: center;
	}
	
	#featured-wrapper .button
	{
		margin-top: 2em;
	}
	
	#featured-content
	{
		
	}

	#featured-content h2
	{
	}

	#featured-content img
	{
		float: left;
		margin: 0.85em 2em 0em 0em;
	}




/* Copyright */

	#copyright
	{
		overflow: hidden;
		padding: 3em 0em 6em 0em;
		border-top: 1px solid #212124;
		text-align: center;
	}
	
	#copyright p
	{
		font-size: 1em;
	}
	
	#copyright a
	{
		color: #949494;
	}
	
	#copyright a:hover
	{
		text-decoration: none;
	}





/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style inputs with type="search", select elements and textareas */
input[type=search], select, textarea {
	width: 400px; /* Full width */
	padding: 12px; /* Some padding */
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style inputs with type="password", select elements and textareas */
input[type=password], select, textarea {
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}


/* Style inputs with type="email", select elements and textareas */
input[type=email], select, textarea {
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
	background-color: #2B8FC4;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
	background-color: #2B8FC4;
}

/* Top Button */
.button_top
	{
		position: relative;
		display: inline-block;
		background: #2B8FC4;
		padding: 0.5em 2em;
		border-radius: 4px;
		text-decoration: none;
		font-size: 0.80em;
		font-weight: 300;
		color: #FFF !important;
		width: 100px;
		height: 35px;
		-moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		text-align: center;
	}

.button_search
	{
		position: relative;
		display: inline-block;
		background: #2B8FC4;
		padding: 0.5em 2em;
		border-radius: 4px;
		text-decoration: none;
		font-size: 1em;
		font-weight: 300;
		color: #FFF !important;
		height: 55px;
		width: 130px;
		-moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		text-align: center;
	}

.button_up
	{
		position: relative;
		display: inline-block;
		background: #2B8FC4;
		padding: 0.5em 2em;
		border-radius: 4px;
		text-decoration: none;
		font-size: 0.80em;
		font-weight: 300;
		color: #FFF !important;
		height: 35px;
		width: 100px;
		-moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		text-align: center;
	}

.button_up:active, .button_top.active, .show > .button_top.dropdown-toggle
	{
		position: relative;
		display: inline-block;
		background: #FFFFFF;
		padding: 0.5em 2em;
		border-radius: 4px;
		text-decoration: none;
		font-size: 0.80em;
		font-weight: 300;
		color: #FFF !important;
		width: 100px;
		height: 35px;
		-moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		text-align: center;
	}

.button_up:focus, .button_up.focus{
	position: relative;
		display: inline-block;
		background: #FFFFFF;
		padding: 0.5em 2em;
		border-radius: 4px;
		text-decoration: none;
		font-size: 0.80em;
		font-weight: 300;
		color: #FFF !important;
		width: 100px;
		height: 35px;
		-moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		text-align: center;
}
	
/* Slike */

.top3 img {
	height: 400px;
	width: 100%;
	object-fit: contain;
}

.profile img {
	float: left;
	max-height: 300px;
	max-width: 300px;
	border-radius: 10px;
	object-fit: contain;
}

/* Sidebar */

aside#sidebar {
	float: right;
	width: 50%;
	overflow: hidden;
	margin-left: 50px;
	margin-right: -300px;
}

/* Content */

article#profile {
	float: left;
	margin: 30px;
}

nav#search {
	width: 100%;
	float: left;
	text-align:left;
	margin-right:auto;
	margin-left:-3em;
	margin-bottom:2em;
}

/* Top Characters Card */
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #c2cfd6; }
  .card > hr {
    margin-right: 0;
    margin-left: 0; }

.card-body, .card-block {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  padding: 1.25rem; }

.card-title {
  margin-bottom: 0.75rem; }

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0; }

.card-text:last-child {
  margin-bottom: 0; }

.card-link:hover {
  text-decoration: none; }

.card-link + .card-link {
  margin-left: 1.25rem; }

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f0f3f5;
  border-bottom: 1px solid #c2cfd6; }
  .card-header + .list-group .list-group-item:first-child {
    border-top: 0; }

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #f0f3f5;
  border-top: 1px solid #c2cfd6; }

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0; }

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem; }

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem; }

.card-img {
  width: 100%; }

.card-img-top {
  width: 100%; }

.card-img-bottom {
  width: 100%; }

.card-deck {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }
  .card-deck .card {
    margin-bottom: 15px; }
  @media (min-width: 576px) {
    .card-deck {
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
      margin-right: -15px;
      margin-left: -15px; }
      .card-deck .card {
        display: -ms-flexbox;
        display: flex;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
        -ms-flex-direction: column;
            flex-direction: column;
        margin-right: 15px;
        margin-bottom: 0;
        margin-left: 15px; } }

.card-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }
  .card-group .card {
    margin-bottom: 15px; }
  @media (min-width: 576px) {
    .card-group {
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }
      .card-group .card {
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
        margin-bottom: 0; }
        .card-group .card + .card {
          margin-left: 0;
          border-left: 0; } }

.card-columns .card {
  margin-bottom: 0.75rem; }

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 1.25rem;
            column-gap: 1.25rem; }
    .card-columns .card {
      display: inline-block;
      width: 100%; } }

.pagination {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none; }

.page-item:first-child .page-link, .pagination-datatables li:first-child .page-link, .pagination li:first-child .page-link, .page-item:first-child .pagination-datatables li a, .pagination-datatables li .page-item:first-child a, .pagination-datatables li:first-child a, .page-item:first-child .pagination li a, .pagination li .page-item:first-child a, .pagination li:first-child a {
  margin-left: 0; }

.page-item.active .page-link, .pagination-datatables li.active .page-link, .pagination li.active .page-link, .page-item.active .pagination-datatables li a, .pagination-datatables li .page-item.active a, .pagination-datatables li.active a, .page-item.active .pagination li a, .pagination li .page-item.active a, .pagination li.active a {
  z-index: 2;
  color: #fff;
  background-color: #20a8d8;
  border-color: #20a8d8; }

.page-item.disabled .page-link, .pagination-datatables li.disabled .page-link, .pagination li.disabled .page-link, .page-item.disabled .pagination-datatables li a, .pagination-datatables li .page-item.disabled a, .pagination-datatables li.disabled a, .page-item.disabled .pagination li a, .pagination li .page-item.disabled a, .pagination li.disabled a {
  color: #536c79;
  pointer-events: none;
  background-color: #fff;
  border-color: #ddd; }

.page-link, .pagination-datatables li a, .pagination li a {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #20a8d8;
  background-color: #fff;
  border: 1px solid #ddd; }
  .page-link:focus, .pagination-datatables li a:focus, .pagination li a:focus, .page-link:hover, .pagination-datatables li a:hover, .pagination li a:hover {
    color: #167495;
    text-decoration: none;
    background-color: #c2cfd6;
    border-color: #ddd; }

.pagination-lg .page-link, .pagination-lg .pagination-datatables li a, .pagination-datatables li .pagination-lg a, .pagination-lg .pagination li a, .pagination li .pagination-lg a {
  padding: 0.75rem 1.5rem;
  font-size: 1.09375rem;
  line-height: 1.5; }

.pagination-sm .page-link, .pagination-sm .pagination-datatables li a, .pagination-datatables li .pagination-sm a, .pagination-sm .pagination li a, .pagination li .pagination-sm a {
  padding: 0.25rem 0.5rem;
  font-size: 0.76563rem;
  line-height: 1.5; }
  
  /* Table */
 
 .table { 	
 margin-left:2em;
 margin-right:auto;
 text-align:center;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent; }
  .table th
  {
  	font-weight: bold;
  	color: #FFFFFF;
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #c2cfd6; }
  .table td{
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #c2cfd6; }
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #c2cfd6; }
  .table tbody + tbody {
    border-top: 2px solid #c2cfd6; }
  .table .table {
    background-color: #e4e5e6;}

.table-sm th,
.table-sm td {
  padding: 0.3rem; }

.table-bordered {
  border: 1px solid #c2cfd6; }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #c2cfd6; }
  .table-bordered thead th,
  .table-bordered thead td {
    border-bottom-width: 2px; }

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05); }

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075); }

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #c1e7f4; }

.table-hover .table-primary:hover {
  background-color: #abdff0; }
  .table-hover .table-primary:hover > td,
  .table-hover .table-primary:hover > th {
    background-color: #abdff0; }

.table-secondary,
.table-secondary > th,
.table-secondary > td {
  background-color: #e6ebee; }

.table-hover .table-secondary:hover {
  background-color: #d7dfe4; }
  .table-hover .table-secondary:hover > td,
  .table-hover .table-secondary:hover > th {
    background-color: #d7dfe4; }

.table-success,
.table-success > th,
.table-success > td {
  background-color: #cdedd8; }

.table-hover .table-success:hover {
  background-color: #bae6c9; }
  .table-hover .table-success:hover > td,
  .table-hover .table-success:hover > th {
    background-color: #bae6c9; }

.table-info,
.table-info > th,
.table-info > td {
  background-color: #d3eef6; }

.table-hover .table-info:hover {
  background-color: #bee6f2; }
  .table-hover .table-info:hover > td,
  .table-hover .table-info:hover > th {
    background-color: #bee6f2; }

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #ffeeba; }

.table-hover .table-warning:hover {
  background-color: #ffe8a1; }
  .table-hover .table-warning:hover > td,
  .table-hover .table-warning:hover > th {
    background-color: #ffe8a1; }

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #fdd6d6; }

.table-hover .table-danger:hover {
  background-color: #fcbebe; }
  .table-hover .table-danger:hover > td,
  .table-hover .table-danger:hover > th {
    background-color: #fcbebe; }

.table-light,
.table-light > th,
.table-light > td {
  background-color: #fbfcfc; }

.table-hover .table-light:hover {
  background-color: #ecf1f1; }
  .table-hover .table-light:hover > td,
  .table-hover .table-light:hover > th {
    background-color: #ecf1f1; }

.table-dark,
.table-dark > th,
.table-dark > td {
  background-color: #c3c7c9; }

.table-hover .table-dark:hover {
  background-color: #b6babd; }
  .table-hover .table-dark:hover > td,
  .table-hover .table-dark:hover > th {
    background-color: #b6babd; }

.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(0, 0, 0, 0.075); }

.table-hover .table-active:hover {
  background-color: rgba(0, 0, 0, 0.075); }
  .table-hover .table-active:hover > td,
  .table-hover .table-active:hover > th {
    background-color: rgba(0, 0, 0, 0.075); }

.table .thead-dark th {
  color: #e4e5e6;
  background-color: #151b1e;
  border-color: #252f35; }

.table .thead-light th {
  color: #3e515b;
  background-color: #c2cfd6;
  border-color: #c2cfd6; }

.table-dark {
  color: #e4e5e6;
  background-color: #151b1e; }
  .table-dark th,
  .table-dark td,
  .table-dark thead th {
    border-color: #252f35; }
  .table-dark.table-bordered {
    border: 0; }
  .table-dark.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.05); }
  .table-dark.table-hover tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.075); }

@media (max-width: 575px) {
  .table-responsive-sm {
  	margin-left:0em;
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; }
    .table-responsive-sm.table-bordered {
      border: 0; } }

@media (max-width: 767px) {
  .table-responsive-md {
  	margin-left:0em;
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; }
    .table-responsive-md.table-bordered {
      border: 0; } }

@media (max-width: 991px) {
  .table-responsive-lg {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; }
    .table-responsive-lg.table-bordered {
      border: 0; } }

@media (max-width: 1199px) {
  .table-responsive-xl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; }
    .table-responsive-xl.table-bordered {
      border: 0; } }

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; }
  .table-responsive.table-bordered {
    border: 0; }


/* TOP Characters Mobile */
@media(max-width: 768px){
	nav#search{
	float:none;
	text-align:center;
	width:100%;
}
	#search form input[type="search"]{
		width:100%;
	}
	
}

/* navbar */

.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.nav-link, .navbar .dropdown-toggle {
  display: block;
  padding: 0.5rem 1rem; }
  .nav-link:focus, .navbar .dropdown-toggle:focus, .nav-link:hover, .navbar .dropdown-toggle:hover {
    text-decoration: none; }
  .nav-link.disabled, .navbar .disabled.dropdown-toggle {
    color: #536c79; }

.nav-tabs {
  border-bottom: 1px solid #ddd; }
  .nav-tabs .nav-item {
    margin-bottom: -1px; }
  .nav-tabs .nav-link, .nav-tabs .navbar .dropdown-toggle, .navbar .nav-tabs .dropdown-toggle {
    border: 1px solid transparent; }
    .nav-tabs .nav-link:focus, .nav-tabs .navbar .dropdown-toggle:focus, .navbar .nav-tabs .dropdown-toggle:focus, .nav-tabs .nav-link:hover, .nav-tabs .navbar .dropdown-toggle:hover, .navbar .nav-tabs .dropdown-toggle:hover {
      border-color: #c2cfd6 #c2cfd6 #ddd; }
    .nav-tabs .nav-link.disabled, .nav-tabs .navbar .disabled.dropdown-toggle, .navbar .nav-tabs .disabled.dropdown-toggle {
      color: #536c79;
      background-color: transparent;
      border-color: transparent; }
  .nav-tabs .nav-link.active, .nav-tabs .navbar .active.dropdown-toggle, .navbar .nav-tabs .active.dropdown-toggle,
  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-item.show .navbar .dropdown-toggle, .navbar
  .nav-tabs .nav-item.show .dropdown-toggle {
    color: #3e515b;
    background-color: #e4e5e6;
    border-color: #ddd #ddd #e4e5e6; }
  .nav-tabs .dropdown-menu {
    margin-top: -1px; }

.nav-pills .nav-link.active, .nav-pills .navbar .active.dropdown-toggle, .navbar .nav-pills .active.dropdown-toggle,
.nav-pills .show > .nav-link,
.nav-pills .navbar .show > .dropdown-toggle, .navbar
.nav-pills .show > .dropdown-toggle {
  color: #fff;
  background-color: #20a8d8; }

.nav-fill .nav-item {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  text-align: center; }

.nav-justified .nav-item {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -ms-flex-positive: 1;
      flex-grow: 1;
  text-align: center; }

.tab-content > .tab-pane {
  display: none; }

.tab-content > .active {
  display: block; }

.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 0.5rem 1rem; }
  .navbar > .container,
  .navbar > .container-fluid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: justify;
        justify-content: space-between; }

.navbar-brand {
  display: inline-block;
  padding-top: 0.33594rem;
  padding-bottom: 0.33594rem;
  margin-right: 1rem;
  font-size: 1.09375rem;
  line-height: inherit;
  white-space: nowrap; }
  .navbar-brand:focus, .navbar-brand:hover {
    text-decoration: none; }

.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }
  .navbar-nav .nav-link, .navbar-nav .navbar .dropdown-toggle, .navbar .navbar-nav .dropdown-toggle {
    padding-right: 0;
    padding-left: 0; }
  .navbar-nav .dropdown-menu {
    position: static;
    float: none; }

.navbar-text {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.navbar-collapse {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-align: center;
      align-items: center; }

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.09375rem;
  line-height: 1;
  background: transparent;
  border: 1px solid transparent; }
  .navbar-toggler:focus, .navbar-toggler:hover {
    text-decoration: none; }

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%; }

@media (max-width: 575px) {
  .navbar-expand-sm > .container,
  .navbar-expand-sm > .container-fluid {
    padding-right: 0;
    padding-left: 0; } }

@media (min-width: 576px) {
  .navbar-expand-sm {
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -ms-flex-pack: start;
        justify-content: flex-start; }
    .navbar-expand-sm .navbar-nav {
      -ms-flex-direction: row;
          flex-direction: row; }
      .navbar-expand-sm .navbar-nav .dropdown-menu {
        position: absolute; }
      .navbar-expand-sm .navbar-nav .dropdown-menu-right {
        right: 0;
        left: auto; }
      .navbar-expand-sm .navbar-nav .nav-link, .navbar-expand-sm .navbar-nav .navbar .dropdown-toggle, .navbar .navbar-expand-sm .navbar-nav .dropdown-toggle {
        padding-right: .5rem;
        padding-left: .5rem; }
    .navbar-expand-sm > .container,
    .navbar-expand-sm > .container-fluid {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }
    .navbar-expand-sm .navbar-collapse {
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
          flex-basis: auto; }
    .navbar-expand-sm .navbar-toggler {
      display: none; }
    .navbar-expand-sm .dropup .dropdown-menu {
      top: auto;
      bottom: 100%; } }

@media (max-width: 767px) {
  .navbar-expand-md > .container,
  .navbar-expand-md > .container-fluid {
    padding-right: 0;
    padding-left: 0; } }

@media (min-width: 768px) {
  .navbar-expand-md {
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -ms-flex-pack: start;
        justify-content: flex-start; }
    .navbar-expand-md .navbar-nav {
      -ms-flex-direction: row;
          flex-direction: row; }
      .navbar-expand-md .navbar-nav .dropdown-menu {
        position: absolute; }
      .navbar-expand-md .navbar-nav .dropdown-menu-right {
        right: 0;
        left: auto; }
      .navbar-expand-md .navbar-nav .nav-link, .navbar-expand-md .navbar-nav .navbar .dropdown-toggle, .navbar .navbar-expand-md .navbar-nav .dropdown-toggle {
        padding-right: .5rem;
        padding-left: .5rem; }
    .navbar-expand-md > .container,
    .navbar-expand-md > .container-fluid {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }
    .navbar-expand-md .navbar-collapse {
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
          flex-basis: auto; }
    .navbar-expand-md .navbar-toggler {
      display: none; }
    .navbar-expand-md .dropup .dropdown-menu {
      top: auto;
      bottom: 100%; } }

@media (max-width: 991px) {
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid {
    padding-right: 0;
    padding-left: 0; } }

@media (min-width: 992px) {
  .navbar-expand-lg {
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -ms-flex-pack: start;
        justify-content: flex-start; }
    .navbar-expand-lg .navbar-nav {
      -ms-flex-direction: row;
          flex-direction: row; }
      .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute; }
      .navbar-expand-lg .navbar-nav .dropdown-menu-right {
        right: 0;
        left: auto; }
      .navbar-expand-lg .navbar-nav .nav-link, .navbar-expand-lg .navbar-nav .navbar .dropdown-toggle, .navbar .navbar-expand-lg .navbar-nav .dropdown-toggle {
        padding-right: .5rem;
        padding-left: .5rem; }
    .navbar-expand-lg > .container,
    .navbar-expand-lg > .container-fluid {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }
    .navbar-expand-lg .navbar-collapse {
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
          flex-basis: auto; }
    .navbar-expand-lg .navbar-toggler {
      display: none; }
    .navbar-expand-lg .dropup .dropdown-menu {
      top: auto;
      bottom: 100%; } }

@media (max-width: 1199px) {
  .navbar-expand-xl > .container,
  .navbar-expand-xl > .container-fluid {
    padding-right: 0;
    padding-left: 0; } }

@media (min-width: 1200px) {
  .navbar-expand-xl {
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -ms-flex-pack: start;
        justify-content: flex-start; }
    .navbar-expand-xl .navbar-nav {
      -ms-flex-direction: row;
          flex-direction: row; }
      .navbar-expand-xl .navbar-nav .dropdown-menu {
        position: absolute; }
      .navbar-expand-xl .navbar-nav .dropdown-menu-right {
        right: 0;
        left: auto; }
      .navbar-expand-xl .navbar-nav .nav-link, .navbar-expand-xl .navbar-nav .navbar .dropdown-toggle, .navbar .navbar-expand-xl .navbar-nav .dropdown-toggle {
        padding-right: .5rem;
        padding-left: .5rem; }
    .navbar-expand-xl > .container,
    .navbar-expand-xl > .container-fluid {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }
    .navbar-expand-xl .navbar-collapse {
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
          flex-basis: auto; }
    .navbar-expand-xl .navbar-toggler {
      display: none; }
    .navbar-expand-xl .dropup .dropdown-menu {
      top: auto;
      bottom: 100%; } }

.navbar-expand {
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -ms-flex-pack: start;
      justify-content: flex-start; }
  .navbar-expand > .container,
  .navbar-expand > .container-fluid {
    padding-right: 0;
    padding-left: 0; }
  .navbar-expand .navbar-nav {
    -ms-flex-direction: row;
        flex-direction: row; }
    .navbar-expand .navbar-nav .dropdown-menu {
      position: absolute; }
    .navbar-expand .navbar-nav .dropdown-menu-right {
      right: 0;
      left: auto; }
    .navbar-expand .navbar-nav .nav-link, .navbar-expand .navbar-nav .navbar .dropdown-toggle, .navbar .navbar-expand .navbar-nav .dropdown-toggle {
      padding-right: .5rem;
      padding-left: .5rem; }
  .navbar-expand > .container,
  .navbar-expand > .container-fluid {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  .navbar-expand .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto; }
  .navbar-expand .navbar-toggler {
    display: none; }
  .navbar-expand .dropup .dropdown-menu {
    top: auto;
    bottom: 100%; }

.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.9); }
  .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: rgba(0, 0, 0, 0.9); }

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .navbar .dropdown-toggle, .navbar .navbar-light .navbar-nav .dropdown-toggle {
  color: rgba(0, 0, 0, 0.5); }
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .navbar .dropdown-toggle:focus, .navbar .navbar-light .navbar-nav .dropdown-toggle:focus, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .navbar .dropdown-toggle:hover, .navbar .navbar-light .navbar-nav .dropdown-toggle:hover {
    color: rgba(0, 0, 0, 0.7); }
  .navbar-light .navbar-nav .nav-link.disabled, .navbar-light .navbar-nav .navbar .disabled.dropdown-toggle, .navbar .navbar-light .navbar-nav .disabled.dropdown-toggle {
    color: rgba(0, 0, 0, 0.3); }

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .navbar .show > .dropdown-toggle, .navbar .navbar-light .navbar-nav .show > .dropdown-toggle,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .navbar .active > .dropdown-toggle, .navbar
.navbar-light .navbar-nav .active > .dropdown-toggle,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .navbar .show.dropdown-toggle, .navbar
.navbar-light .navbar-nav .show.dropdown-toggle,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .navbar .active.dropdown-toggle, .navbar
.navbar-light .navbar-nav .active.dropdown-toggle {
  color: rgba(0, 0, 0, 0.9); }

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1); }

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }

.navbar-light .navbar-text {
  color: rgba(0, 0, 0, 0.5); }
  .navbar-light .navbar-text a {
    color: rgba(0, 0, 0, 0.9); }
    .navbar-light .navbar-text a:focus, .navbar-light .navbar-text a:hover {
      color: rgba(0, 0, 0, 0.9); }

.navbar-dark .navbar-brand {
  color: #fff; }
  .navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
    color: #fff; }

.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .navbar .dropdown-toggle, .navbar .navbar-dark .navbar-nav .dropdown-toggle {
  color: rgba(255, 255, 255, 0.5); }
  .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .navbar .dropdown-toggle:focus, .navbar .navbar-dark .navbar-nav .dropdown-toggle:focus, .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .navbar .dropdown-toggle:hover, .navbar .navbar-dark .navbar-nav .dropdown-toggle:hover {
    color: rgba(255, 255, 255, 0.75); }
  .navbar-dark .navbar-nav .nav-link.disabled, .navbar-dark .navbar-nav .navbar .disabled.dropdown-toggle, .navbar .navbar-dark .navbar-nav .disabled.dropdown-toggle {
    color: rgba(255, 255, 255, 0.25); }

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .navbar .show > .dropdown-toggle, .navbar .navbar-dark .navbar-nav .show > .dropdown-toggle,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .navbar .active > .dropdown-toggle, .navbar
.navbar-dark .navbar-nav .active > .dropdown-toggle,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .navbar .show.dropdown-toggle, .navbar
.navbar-dark .navbar-nav .show.dropdown-toggle,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .navbar .active.dropdown-toggle, .navbar
.navbar-dark .navbar-nav .active.dropdown-toggle {
  color: #fff; }

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1); }

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }

.navbar-dark .navbar-text {
  color: rgba(255, 255, 255, 0.5); }
  .navbar-dark .navbar-text a {
    color: #fff; }
    .navbar-dark .navbar-text a:focus, .navbar-dark .navbar-text a:hover {
      color: #fff; }


/* JavaScript fix */
.tab-content{
	background:transparent;
	border:none;	
}
